[submodule "numix-gtk-theme"]
	path = numix-gtk-theme
	url = http://pkgs.fedoraproject.org/cgit/rpms/numix-gtk-theme.git
[submodule "numix-icon-theme"]
	path = numix-icon-theme
	url = http://pkgs.fedoraproject.org/cgit/rpms/numix-icon-theme.git
[submodule "numix-icon-theme-circle"]
	path = numix-icon-theme-circle
	url = http://pkgs.fedoraproject.org/cgit/rpms/numix-icon-theme-circle.git
